header{
    background: white;
    position: sticky;
    display: flex;
    height: 55px;
    width: 100%;
    top: 0;
    margin-bottom: 2%;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    padding: 20px;
    margin: 0px;
}

ul li{
    display: inline-block;
}

ul a li{
    margin-right: 20px;
    font-weight: bold;
}

body{
    width: 100%;
    background-attachment: fixed;
    background-image: url('../img/pattern.jpg');
    margin-bottom: 5%
}

section{
    background: white;
    width: 950px;
    margin: auto;
}

article{
    border-bottom: 1px solid grey;
    padding-top: 30px;
}

h1{
    text-align: center;
}

footer{
    position: relative;
    background: black;
    height: 40px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

h5{
    text-align: center;
    color: white;
}